@if(selectedRobot) {
<div class="row robo-font text-margin justify-content-md-left">
  <h3>Class perks</h3>
</div>
<div class="row icon-margin">
  @for (perk of classPerks | filterClassPerks; track $index) {
  <div
    class="square-small"
    ngbPopover="{{ perk.description }}"
    triggers="mouseenter:mouseleave"
    popoverTitle="{{ perk.name }}"
    [openDelay]="100"
    popoverClass="custom-popover"
    (click)="onPerkClick(perk)"
    style="cursor: pointer"
  >
    <img
      src="assets/images/perks/{{ perk.name }}.png"
      (error)="handleImageError($event)"
      [class.clicked-image]="isPerkSelected(perk.name, this.selectedClassPerks)"
    />
  </div>
  }
</div>
<div class="row robo-font text-margin"><h3>Support perks</h3></div>
<div
  class="row icon-margin"
  [class.placeholderIconSupport]="selectedClassPerks?.length === 0"
>
  @if(selectedClassPerks && selectedClassPerks.length > 0) { @for(perk of
  availableSupportPerks; track $index) {
  <div
    class="square-small"
    ngbPopover="{{ perk.description }}"
    triggers="mouseenter:mouseleave"
    popoverTitle="{{ perk.name }}"
    [openDelay]="100"
    (click)="onPerkClick(perk)"
    popoverClass="custom-popover"
    style="cursor: pointer"
  >
    <img
      src="assets/images/perks/{{ perk.name }}.png"
      (error)="handleImageError($event)"
      [class.clicked-image]="
        isPerkSelected(perk.name, this.selectedSupportPerks)
      "
    />
  </div>
  } }
</div>
<div class="row robo-font text-margin"><h3>Neutral perks</h3></div>
<div class="row icon-margin">
  @for (perk of classPerks | filterNeutralPerks; track $index) {
  <div
    class="square-small"
    ngbPopover="{{ perk.description }}"
    triggers="mouseenter:mouseleave"
    popoverTitle="{{ perk.name }}"
    [openDelay]="100"
    popoverClass="custom-popover"
    (click)="onPerkClick(perk)"
    style="cursor: pointer"
  >
    <img
      src="assets/images/perks/{{ perk.name }}.png"
      (error)="handleImageError($event)"
    />
  </div>
  } @for (perk of commonPerks; track $index) {
  <div
    class="square-small"
    ngbPopover="{{ perk.description }}"
    triggers="mouseenter:mouseleave"
    popoverTitle="{{ perk.name }}"
    [openDelay]="100"
    (click)="onPerkClick(perk)"
    popoverClass="custom-popover"
    style="cursor: pointer"
  >
    <img
      src="assets/images/perks/{{ perk.name }}.png"
      (error)="handleImageError($event)"
    />
  </div>
  }
</div>
}
