@if (selectedRobot) {
<div
  class="row justify-content-md-left"
  [class.placeholderClass]="selectedClassPerks?.length === 0"
>
  @for(perk of selectedClassPerks; track $index) {
  <div class="col-md-auto square-col">
    <div
      class="square"
      ngbPopover="{{ perk.description }}"
      triggers="mouseenter:mouseleave"
      popoverTitle="{{ perk.name }}"
      [openDelay]="100"
      popoverClass="custom-popover"
      style="cursor: pointer"
      (click)="onPerkClick($index, perk)"
    >
      <img
        src="assets/images/perks/{{ perk.name }}.png"
        (error)="handleImageError($event)"
      />
    </div>
  </div>
  <div
    class="col-md-auto"
    [class.placeholderSupport]="!hasSelectedSupportPerks(perk)"
  >
    @if(hasSelectedSupportPerks(perk)) { @for(perk of supportPerks(perk);track
    $index) {
    <div class="row square-small-row">
      <div
        class="square-small"
        ngbPopover="{{ perk.description }}"
        triggers="mouseenter:mouseleave"
        popoverTitle="{{ perk.name }}"
        [openDelay]="100"
        popoverClass="custom-popover"
        style="cursor: pointer"
        (click)="onPerkClick($index, perk)"
      >
        <img
          src="assets/images/perks/{{ perk.name }}.png"
          (error)="handleImageError($event)"
        />
      </div>
    </div>
    } }
  </div>
  }
</div>
<div
  class="row justify-content-md-left neutral-perk-row"
  [class.placeholderNeutral]="selectedNeutralPerks?.length === 0"
>
  @for(perk of selectedNeutralPerks; track $index) {
  <div
    class="square-small"
    ngbPopover="{{ perk.description }}"
    triggers="mouseenter:mouseleave"
    popoverTitle="{{ perk.name }}"
    [openDelay]="100"
    popoverClass="custom-popover"
    style="cursor: pointer"
    (click)="onPerkClick($index, perk)"
  >
    <img
      src="assets/images/perks/{{ perk.name }}.png"
      (error)="handleImageError($event)"
    />
  </div>
  }
</div>
}
